.button-class {
  background-color: aliceblue;
  padding: 50px 75px;
  cursor: pointer;
  font-size: 32px;
  margin-top: 10px;
  border-radius: 8px;
}

h1 {
  color: blue;
  text-decoration: underline;
}

.modal-img {
  width: 200px;
  height: auto;
}
